*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color:#090911;
    --second-bg-color:#202020;
    --text-color: white;
    --second-color:#ccc;
    --color-main:#b447eb;

    --big-font: 6.5rem;
    --h2-font:3rem;
    --p-font:1.1rem
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

section.container{
    padding: 120px 15%;
}



/* nav-main */

.nav-main{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 15%;
    border-bottom:1px solid transparent;
    transition: all .45s ease;
}

.logo{
    width: var(--big-font);
}

.logo img{
    width: 100%;
    height: 100%;
}

.nav-list{
    display: flex;
    align-items: center;
    gap:25px;
}

.nav-list a{
    color:var(--second-color);
    font-size: var(--p-font);
    transition: all .45s ease;
}

.nav-list a:hover{
    color: var(--color-main);
}

.nav-list a.active{
    color: var(--color-main);
}

/* Menu-icono */

.menu-icono{
    cursor: pointer;
    display: none;
}

.menu-icono div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: var(--second-color);
    transition: all .5s ease;
    border-radius: 50px;
}


.menu-icono.active .menu-icono-line-1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icono.active .menu-icono-line-2{
    opacity: 0;
}

.menu-icono.active .menu-icono-line-3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-main.sticky{
    background: var(--bg-color);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.45);
}

/* Home */
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5) ;
    z-index: 1;
}

.home-text{
    z-index: 2;
}

.slide{
    margin-bottom: 20px;
}

.slide .one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    background: var(--color-main);
    color: var(--text-color);
}

.slide .two{
    display: inline-block;
    color: var(--second-color);
    font-size: 1.2rem;
    font-weight: 700;
}

.home-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;
}

.home-text h3{
    font-size: var(--h2-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 35px;
}

.home-text p{
    font-size: var(--p-font);
    font-weight: 700;
    color: var(--second-color);
    line-height: 1.8;
    margin-bottom: 40px;
}

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    background-color: var(--color-main);
    border-radius: 5px;
    color:var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    transition: all .45s ease;
}

.btn:hover{
    transform: scale(0.9);
}

.btn-round{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: 15px;
    color: var(--text-color);
    margin-left: 15px;
}

.btn-round span i{
    height: 55px;
    width: 55px;
    background: var(--color-main);
    color: var(--text-color);
    display: grid;
    place-items: center;
    border-radius: 50%;
    margin-right: 15px;
    transition: all .45s ease;
}


.btn-round span i:hover{
    transform: scale(1.1) translateY(5px);
}


/* box */

.box-container{
    display: flex;
    flex-direction: column;
    width: 250px;
    min-width: 250px;
}

.box-img{
    position: relative;
    height: 360px;
    background-color: red;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: all .45s ease;
}

.box-img::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.box-img:hover{
    transform:  translateY(-10px);
    cursor: pointer;
}

.box-text{
    width: 100%;
    padding: 10px;
}

.box-text h4{
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1; 
}

.box-text .aside{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aside{
    font-size: 14px;
}

.aside span{
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.1; 
}

.box-iconts{
    cursor: pointer;
}

.carousel{
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
}

.carousel-container{
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    overflow: auto;
    transition: all .5s ease;
    
}


